



.minha__cor__cabecalho{
    background-color: #043E80;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.nav__principal {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.redes  {
   display: flex;
   align-items: center;

}
.icones a{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #043E80;
    margin: 0 6px;
    gap:10%;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
   
    
}
.carousel-inner{
    height: 500px;
    
   
}


.container_de_img{
   height: 100%;
    background-color:#04678A;
}

.imagens{
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: .5s;
    
}

.transition:hover{
    transform: scale(1.1);
}
.img_figure{
    height: 100px;
    width: 150px;
    border-radius: 100px;
    background-color:   #043E80;
    margin-top: 60px;
    margin-bottom: 5px;
    
}

.titulo_imagem{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 800;
    color:  #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.titulo_imagem:hover{
    cursor: pointer;
    color: #043E80;
    
}
a{
    text-decoration: none;
   
}
@media (max-width: 940px) {
    .imagens{
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: absolute;
        gap: 10px;
        
        background-color: #04678A;

        
    }
    .transition:hover{
        transform: none;
    }
    .img_figure{
        height: 100px;
        width: 100px;
        border-radius: 100px;
        background-color:#043E80;
        justify-content: center;
    }
    .container_de_img {
        background-color:#04678A;
    }

    a{
        text-decoration: none;
    }
    .titulo_imagem{
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        font-weight: 700;
        color: #fff;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .titulo_imagem:hover{
        cursor: pointer;
        color:  #043E80;
        
    }
}